body {
    font-family: Arial, sans-serif;
}

.links {
    position: fixed;
    right: 30px;
    top: 30px;
}

a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

a:hover {
    text-decoration: underline !important;
}

.single_form {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.multi_form {
    position: absolute;
    top: 25%;
    left: 25%;
    -moz-transform: translateX(-20%) translateY(-50%);
    -webkit-transform: translateX(-20%) translateY(-50%);
    transform: translateX(-20%) translateY(-50%);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    padding: 50px;
}

.single_input {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    height: 44px;
    width: 584px;
    padding-left: 20px;
    outline-width: 0;
}

.multi_input {
    display: block;
    display: inline-block;
    width: 700px;
    margin-top: 10px;
}

.rule
{   
    position: absolute;
    left: -30%;
    display: inline-block;
    margin-top: 10px;
    font-size: small;
}

.input_button {
    border-radius: 5px;
    border-color: transparent;
    height: 36px;
    width: 133px;
    margin: 3px;
    margin-top: 20px;
}

.multi_button {
    position: absolute;
    left: 75%;
    -moz-transform: translateX(-75%);
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
    text-align: center;
    border-radius: 5px;
    border-color: #3079ed;
    background-color: #4d90fe;
    color: white;
    height: 36px;
    width: 133px;
    margin: 3px;
    margin-top: 20px;
}