{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Montserrat font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

        <title>{% block title %}Market Helper{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">      
        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
        <!-- CSS -->
        <link href="{% static 'markethelper/styles.css' %}" rel="stylesheet">
        <!-- Full Calendar -->
        <meta charset='utf-8' />
        <link href="{% static 'fullcalendar/main.css' %}" rel="stylesheet" />
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
        <!-- Full Calendar -->
        <meta charset='utf-8' />
        <script src="{% static 'fullcalendar/main.js' %}"></script>
        <!-- Moment -->
        <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js'></script>
        {% block script %}
        {% endblock %}
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">Market Helper</a>
            <div>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendarpage' %}">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </nav>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <div class="spacer layer1"></div>
    </body>
</html>