{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {% if error %}
        <p class=error><strong>{{ error }}</strong>
    {% endif %}
    <form action="/register" method="post">
        <div class="form-group mb-3">
            <input required autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group mb-3">
            <input required autocomplete="off" class="form-control" name="password" placeholder="Password" type="text">
        </div>
        <div class="form-group mb-3">
            <input required autocomplete="off" class="form-control" name="confirmation" placeholder="Confirmation" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
