{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" type="text">
                <option disabled selected value="">Stock</option>
                {% for holding in holdings %}
                    <option value={{ holding.symbol }}>{{ holding.symbol }}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
